@font-face {
  font-family: chan;
  src: url(blackchancery.regular.ttf);
}

@font-face {
  font-family: drag;
  src: url(dungeons-and-dragons-phone-har2t0i5h6s9tei6.jpg);
}

:root {
  font-size: 20px;
  --font-1: chan;
  --font-2: drag;
  --bg: rgba(220, 20, 60, 0.5);
}

body {
  background: #000;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}

img {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  opacity: 0.2;
}

.restButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  color: black;
  margin-bottom: 20px;
}

.restButtons button {
  font-size: 1rem;
  padding: 10px 30px;
  outline: none;
  border: 1px solid crimson;
  color: crimson;
  background: black;
  border-radius: 5px;
  transition: all 0.05s;
}

.restButtons button:active {
  color: black;
  background-color: crimson;
}

.stats {
  font-family: var(--font-2);
  background: rgba(24, 85, 146, 0.75);
  color: white;
  text-align: center;
  margin: 0 20px 20px;
  padding: 5px;
}

.hitpoints {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 50px;
  background: var(--bg);
  padding: 5px 10px;
}

.hitpoints p {
  font-family: var(--font-2);
  color: white;
  display: inline-block;
}

.hitpoints span {
  color: white;
  padding: 2px 30px;
  transition: color 0.5s;
}

.hitpoints span:focus {
  outline: 1px solid black;
}

button {
  font-family: var(--font-1);
}

form {
  margin-top: 30px;
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--bg);
}

label {
  color: white;
  font-family: var(--font-2);
}

input:not([type="submit"]) {
  border-radius: 5px;
  color: black;
  outline: none;
  padding: 2px 5px;
}

#takeDamage {
  width: 80px;
  padding: 2px 0px;
  text-align: center;
  font-size: 1.1rem;
}

.extraAttacks i {
  transition: all 0.5s;
}

input[type="submit"] {
  font-family: var(--font-1);
  font-size: 1.1rem;
  font-style: italic;
  color: crimson;
  background: black;
  border: 1px solid crimson;
  border-radius: 5px;
  padding: 2px 20px;
  outline: none;
  transition: all 0.05s;
}

input[type="submit"]:active {
  color: black;
  background: crimson;
}

.berserkinContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 80%;
  margin: 0px auto 0;
}

.berserkinContainer div {
  font-family: var(--font-2);
  width: 20%;
  padding: 10px 0;
  border-radius: 5px;
  border: 1px solid black;
  background: var(--bg);
  text-align: center;
}

.berserkinContainer button {
  font-size: 1rem;
  width: 40%;
}

.attackContainer,
.grievousThrow {
  height: 45px;
  width: 80%;
  margin: 10px auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.grievousDamage {
  color: crimson;
  background: black;
  border: 1px solid crimson;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 1rem;
  transition: all 0.05s;
}

.activated:active {
  color: black;
  background: crimson;
}

#attackBtn {
  height: 100%;
  font-size: 2rem;
  width: 70%;
}

#grievousCount {
  color: coral;
}

#damage {
  color: white;
}

#damage,
#grievousCount {
  background: var(--bg);
  width: 30%;
  border: 1px solid black;
  border-radius: 5px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#attackBtn,
#berserk,
#removeBerserk {
  height: 50px;
  color: crimson;
  background: black;
  border: 1px solid crimson;
  outline: none;
  border-radius: 5px;
  transition: all 0.05s;
}

#attackBtn:active,
#berserk:active,
#removeBerserk:active {
  background: crimson;
  color: black;
}

#totalDamage {
  font-family: var(--font-1);
  width: 80%;
  padding: 5px 0;
  margin: 10px auto 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
  background: var(--bg);
}

.extraAttacks {
  margin-top: 20px;
  text-align: center;
}

.amaniRageContainer {
  width: 80%;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.amaniRegenHP {
  width: 45%;
  border: 1px solid black;
  border-radius: 5px;
  background: var(--bg);
  padding: 5px 10px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.remainingHealTicks {
  font-size: 1.1rem;
  position: absolute;
  color: mediumspringgreen;
  right: -8px;
  top: -12px;
}

.endTurnContainer {
  text-align: center;
  margin: 0 auto;
  width: 80%;
}

.endTurnContainer button {
  width: 100%;
}

.amaniRageContainer button,
.endTurnContainer button {
  font-size: 1.2rem;
  color: crimson;
  background: #000;
  outline: none;
  border: 1px solid crimson;
  border-radius: 5px;
  padding: 5px 15px;
  transition: all 0.05s;
}

.amaniRageContainer button:active,
.endTurnContainer button:active {
  color: black;
  background: crimson;
}
